html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  padding: .5rem 1rem;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 2em;
}

img {
  width: 15rem;
  float: left;
  margin-right: 1rem;
}

hr {
  clear: both;
  padding: 1rem 0;
}
